/**COLORES**/
* {
  margin: 0px;
  padding: 0px;
  font-size: 62,5%; }

body {
  font-family: "Open Sans", sans-serif; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**NAV**/
nav ul li a {
  font-size: 18px;
  margin: 10px 20px 10px 20px; }

.dropdown-item {
  margin: 0%; }

.navbar-brand {
  margin: 0%;
  padding: 0%; }

.container navbar-brand {
  margin: 0; }

.contenedor div h1 {
  animation-duration: 5s;
  animation-name: aparecer;
  font-size: 4vw; }

.button__search {
  margin-top: 12px;
  color: #636363;
  background-color: none; }
  .button__search:hover {
    color: #000000; }

.active {
  font-weight: 600; }

/**BIENVENIDA**/
.sectionbienvenida {
  margin-top: 70px;
  margin-bottom: 30px; }

.sectionbienvenida__parrafo {
  font-size: 1.2rem;
  text-align: center; }

.titulo__principal {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  color: #070300;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700; }

section div p a {
  text-decoration: none;
  color: #b29569; }
  section div p a:hover {
    filter: opacity(0.6);
    color: #b29569;
    text-decoration: none; }

.heart {
  content: "\2661"; }

.icono__tienda:hover {
  filter: opacity(0.6); }

/**SECTION1**/
.section1__parrafo--bold {
  font-size: 25px;
  font-weight: bold; }

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "section1__img section1__parrafo";
  margin-bottom: 80px; }

.section1__img {
  grid-area: section1__img;
  margin-bottom: 10%; }

.imgHoja {
  margin-bottom: 30px; }

.section1__parrafo {
  grid-area: section1__parrafo;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  justify-self: center;
  margin-top: 10%;
  font-size: 1.2rem;
  text-align: center; }

.container div {
  padding-top: 30px; }
  .container div a {
    font-size: 1rem;
    background-color: #b29569;
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    font-size: 17px;
    text-decoration: none;
    font-weight: 700;
    font-family: "Dosis", sans-serif; }

.container div a:hover {
  background-color: #0e0e0e;
  color: white; }

/**SECTION2**/
.section2 {
  margin-top: 80px;
  margin-bottom: 10px;
  display: grid;
  grid-template-areas: "titulos__section2 titulos__section2 titulos__section2 titulos__section2 " "galeria1 galeria2 galeria3 galeria4";
  grid-column: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr; }

.titulos__section2 {
  grid-area: titulos__section2;
  margin: 5px; }

.galeria1 {
  grid-area: galeria1;
  margin: 5px; }

.galeria2 {
  grid-area: galeria2;
  margin: 5px; }

.galeria3 {
  grid-area: galeria3;
  margin: 5px; }

.galeria4 {
  grid-area: galeria4;
  margin: 5px; }

.titulo__secundario {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
  color: #0e0e0e;
  margin-top: 10px;
  text-align: center; }

.subtitulo {
  color: #353535;
  font-size: 1.3rem;
  text-align: center; }

.filter__galeria:hover {
  filter: brightness(0.8); }

/**SECTION3**/
.section3 {
  margin-top: 0%;
  margin-bottom: 120px;
  display: grid;
  grid-template-areas: "section3__parrafo section3__img";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; }

.section3__parrafo {
  grid-area: section3__parrafo;
  font-size: 1.2rem; }

.section3__img {
  grid-area: section3__img; }

/**FOOTER**/
.footer {
  background-image: url(../img/suscribirse.JPG);
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px; }

.footer__titulo {
  font-size: 2.5rem;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: "Playfair Display", serif;
  margin-top: 10px;
  padding-top: 10px; }

.footer__subtitulo {
  font-size: 1.3rem;
  color: white; }

.footer__formulario {
  display: flex;
  justify-content: center;
  width: 100%; }

.nav-link {
  color: #5f5f5f;
  text-decoration: none;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s; }
  .nav-link:hover {
    color: #0e0e0e;
    background-size: 100% 2px; }

.footer__rrss {
  display: flex;
  flex-direction: row;
  text-align: center; }

.footer__rrss--iconos {
  color: #353535;
  margin-right: 10px;
  margin-left: 10px; }
  .footer__rrss--iconos:hover {
    color: #070300; }

.footer__cr {
  font-size: 1rem;
  color: #353535;
  font-weight: 400;
  font-family: "Dosis", sans-serif; }

/**TEXTO BANNER**/
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center; }

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: "Playfair Display", serif;
  text-shadow: black 0.1em 0.1em 0.2em; }

.centrado {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/**SOBRE MI**/
.sobremi__container {
  margin-top: 5%;
  display: grid;
  grid-template-areas: "sobremi__img sobremi__parrafo1" "sobremi__parrafo2 sobremi__parrafo2";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 3fr; }

.sobremi__img {
  grid-area: sobremi__img; }

.sobremi__parrafo1 {
  font-size: 1rem;
  grid-area: sobremi__parrafo1;
  align-self: center;
  text-align: center; }

.sobremi__parrafo2 {
  margin-bottom: 80px;
  font-size: 1rem;
  grid-area: sobremi__parrafo2;
  align-self: center;
  text-align: center; }

.titulo__sobremi {
  font-family: "Playfair Display", serif;
  font-weight: 500; }

.sobremi__galeria {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.sobremi__galeria1 {
  margin: 5px; }
  .sobremi__galeria1:hover {
    filter: brightness(0.8); }

.sobremi__galeria2 {
  margin: 5px; }
  .sobremi__galeria2:hover {
    filter: brightness(0.8); }

.sobremi__galeria3 {
  margin: 5px; }
  .sobremi__galeria3:hover {
    filter: brightness(0.8); }

/**TALLERES**/
.h1__talleres {
  font-size: 1rem;
  text-align: center;
  padding-top: 4rem; }

.p__talleres {
  font-size: 1rem;
  text-align: center; }

.section__talleres {
  display: grid;
  grid-template-areas: "taller1 taller2 taller3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px 40px 30px, 40px; }
  .section__talleres h3 {
    color: #5f5f5f;
    margin-top: 0px;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 15px; }

.fa-shopping-basket {
  font-size: 1.4rem; }
  .fa-shopping-basket:hover {
    color: #CE703C; }

.taller1 {
  grid-area: taller1;
  margin: 2rem;
  align-self: center;
  text-align: center; }

.taller2 {
  grid-area: taller2;
  margin: 2rem;
  align-self: center;
  text-align: center; }

.taller3 {
  grid-area: taller3;
  margin: 2rem;
  align-self: center;
  text-align: center; }

.taller1__img:hover {
  filter: brightness(0.8); }

.taller2__img:hover {
  filter: brightness(0.8); }

.taller3__img:hover {
  filter: brightness(0.8); }

.titulo__taller {
  color: #353535;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px; }

.boton-talleres {
  font-size: 1rem;
  background-color: #b29569;
  color: white;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  font-size: 17px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Dosis", sans-serif; }
  .boton-talleres:hover {
    background-color: #0e0e0e;
    color: white; }

.accordion-button {
  color: #353535;
  font-weight: 500; }
  .accordion-button:not(.collapsed) {
    color: #5f5f5f;
    font-weight: 500;
    background-color: #fcf4e9;
    box-shadow: none; }

/**CONTACTO**/
.section__contacto {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px; }
  .section__contacto .contacto__logoymail {
    margin-right: 50px; }
    .section__contacto .contacto__logoymail h1 {
      font-family: "Playfair Display", serif;
      font-size: 5.5rem;
      margin-bottom: 1.5rem;
      color: #0e0e0e; }
    .section__contacto .contacto__logoymail h2 {
      font-size: 1.3rem;
      color: #0e0e0e;
      font-weight: 300; }
    .section__contacto .contacto__logoymail h3 {
      font-size: 1rem;
      color: #0e0e0e;
      font-weight: 300; }

.contacto__formulario {
  margin-left: 200px;
  margin-top: 4rem;
  width: 500px; }
  .contacto__formulario input {
    width: 100%;
    margin: 3px; }
  .contacto__formulario textarea {
    width: 100%;
    margin: 3px; }

/**BLOG**/
.h1__blog {
  font-size: 1rem;
  text-align: center; }

.blog__subtitulo {
  font-size: 1.3rem;
  font-weight: 300; }

.blog__titulo--entrada {
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  color: #0e0e0e; }
  .blog__titulo--entrada:hover {
    color: #b29569; }

.hrblog {
  height: 1px;
  border: 0;
  background-color: #b29569;
  opacity: 90%; }

.parrafo__blog {
  color: #353535; }

.buscar__blog {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem; }

/**TIENDA**/
.tienda__productos {
  color: #353535;
  text-align: center;
  font-weight: 400;
  font-size: 1rem; }

.tienda__productos--precio {
  color: #5f5f5f;
  font-weight: 500;
  text-align: center;
  font-size: 1rem; }

.tienda__encabezado {
  padding: 10px 30px 10px 30px; }

.h1__tienda {
  font-size: 1rem;
  text-align: center;
  padding-top: 4rem; }

.p__tienda {
  font-size: 1rem;
  text-align: center;
  font-weight: 300; }

/**MOBILE**/
@media only screen and (max-width: 576px) {
  /**NAV**/
  section div ul li {
    font-size: 14px; }
  nav div ul li a {
    font-size: 14px; }
  /**INDEX**/
  .sectionbienvenida {
    margin-top: 40px;
    margin-bottom: 20px; }
  .sectionbienvenida__parrafo {
    font-size: 1rem; }
  .titulo__principal {
    font-size: 1.8rem; }
  /**SECTION1**/
  .section1__parrafo--bold {
    font-size: 1rem; }
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas: "section1__img" "section1__parrafo";
    margin-bottom: 0px;
    justify-content: center; }
  .section1__img {
    grid-area: section1__img;
    text-align: center;
    margin-bottom: 0px; }
  .imgHoja {
    margin-top: 0%;
    margin-bottom: 20px; }
  .section1__parrafo {
    font-size: 1rem; }
  .container div {
    padding-top: 20px; }
  /**SECTION2**/
  .section2 {
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    grid-template-areas: "titulos__section2 titulos__section2" "galeria1 galeria2";
    grid-column: 1fr;
    grid-template-rows: 100px 230px; }
  .galeria1 {
    grid-area: galeria1; }
  .galeria2 {
    grid-area: galeria2; }
  .galeria3 {
    display: none; }
  .galeria4 {
    display: none; }
  .titulo__secundario {
    font-size: 1.8rem;
    margin-top: 10px; }
  .subtitulo {
    font-size: 1rem; }
  /**SECTION3**/
  .section3 {
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "section3__parrafo" "section3__img";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; }
  .section3__parrafo {
    margin-top: 30px;
    font-size: 1rem;
    margin-bottom: 20px; }
  .section3__img {
    grid-area: section3__img; }
  /**FOOTER**/
  .footer {
    margin-bottom: 40px; }
  .footer__titulo {
    font-size: 1.6rem; }
  .footer__subtitulo {
    font-size: 12px; }
  /**SOBRE MI**/
  .sobremi__container {
    margin-top: 0%;
    display: grid;
    grid-template-areas: "sobremi__img" "sobremi__parrafo1" "sobremi__parrafo2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr; }
  .sobremi__img {
    margin-top: 30px;
    grid-area: "sobremi__img"; }
  .sobremi__parrafo1 {
    margin: 0;
    font-size: 1rem;
    grid-area: "sobremi__parrafo1";
    text-align: center; }
  .sobremi__parrafo2 {
    margin-bottom: 20px;
    font-size: 1rem;
    grid-area: "sobremi__parrafo2";
    align-self: center;
    text-align: center; }
  .sobremi__galeria {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /**TALLERES**/
  .p__talleres {
    font-size: 1rem;
    text-align: center; }
  .section__talleres {
    display: grid;
    grid-template-areas: "taller1" "taller2" "taller3";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px; }
  .taller1 {
    grid-area: taller1;
    margin: 0px; }
  .taller2 {
    grid-area: taller2;
    margin: 0px; }
  .taller3 {
    grid-area: taller3;
    margin: 0px; }
  .taller1__img {
    width: 330px; }
  .taller2__img {
    width: 330px; }
  .taller3__img {
    width: 330px; }
  /**CONTACTO**/
  .section__contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px; }
    .section__contacto .contacto__logoymail {
      margin-right: 50px; }
      .section__contacto .contacto__logoymail h1 {
        font-size: 4rem;
        margin-bottom: 1rem; }
      .section__contacto .contacto__logoymail h2 {
        font-size: 1.3rem; }
  .contacto__formulario {
    margin-left: 0px;
    margin-top: 2rem; } }

@media only screen and (max-width: 768px) {
  .titulo__principal {
    font-size: 2.3rem; }
  /**SECTION1**/
  .section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-template-areas: "section1__img" "section1__parrafo";
    margin-bottom: 0px;
    justify-content: center; }
  .section1__img {
    grid-area: section1__img;
    text-align: center;
    margin-bottom: 0px; }
  .imgHoja {
    margin-top: 0%;
    margin-bottom: 20px; }
  .container div {
    padding-top: 20px; }
  /**SECTION2**/
  .section2 {
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    grid-template-areas: "titulos__section2 titulos__section2" "galeria1 galeria2";
    grid-column: 1fr;
    grid-template-rows: 100px 230px; }
  .galeria1 {
    grid-area: galeria1; }
  .galeria2 {
    grid-area: galeria2; }
  .galeria3 {
    display: none; }
  .galeria4 {
    display: none; }
  .titulo__secundario {
    font-size: 2.3rem;
    margin-top: 10px; }
  .subtitulo {
    font-size: 1.1rem; }
  /**SECTION3**/
  .section3 {
    margin-bottom: 60px;
    display: grid;
    grid-template-areas: "section3__parrafo" "section3__img";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr; }
  .section3__parrafo {
    grid-area: section3__parrafo; }
  .section3__img {
    grid-area: section3__img; }
  /**FOOTER**/
  .footer {
    margin-bottom: 40px; }
  .footer__titulo {
    font-size: 1.7rem; }
  .footer__subtitulo {
    font-size: 12px; }
  /**SOBRE MI**/
  .sobremi__container {
    margin-top: 0%;
    display: grid;
    grid-template-areas: "sobremi__img" "sobremi__parrafo1" "sobremi__parrafo2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr; }
  .sobremi__img {
    margin-top: 30px;
    grid-area: "sobremi__img"; }
  .sobremi__parrafo1 {
    margin: 0;
    font-size: 1rem;
    grid-area: "sobremi__parrafo1";
    text-align: center; }
  .sobremi__parrafo2 {
    margin-bottom: 20px;
    font-size: 1rem;
    grid-area: "sobremi__parrafo2";
    align-self: center;
    text-align: center; }
  .sobremi__galeria {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .titulo__sobremi {
    font-weight: 500; }
  /**BLOG**/
  .h1__blog {
    text-align: justify;
    font-size: 14px; }
  .blog__subtitulo {
    font-size: 14px; }
  .blog__titulo--entrada {
    font-size: 20px; }
  .parrafo__blog {
    color: #353535;
    text-align: justify; }
  .buscar__blog {
    font-size: 16px; }
  /**TALLERES**/
  .p__talleres {
    font-size: 1rem;
    text-align: center; }
  .section__talleres {
    display: grid;
    grid-template-areas: "taller1" "taller2" "taller3";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px; }
  .taller1 {
    grid-area: taller1;
    margin: 0px; }
  .taller2 {
    grid-area: taller2;
    margin: 0px; }
  .taller3 {
    grid-area: taller3;
    margin: 0px; }
  .taller1__img {
    width: 400px; }
  .taller2__img {
    width: 400px; }
  .taller3__img {
    width: 400px; }
  /**CONTACTO**/
  .section__contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px; }
    .section__contacto .contacto__logoymail {
      margin-right: 50px; }
      .section__contacto .contacto__logoymail h1 {
        font-size: 4rem;
        margin-bottom: 1rem; }
      .section__contacto .contacto__logoymail h2 {
        font-size: 1.3rem; }
  .contacto__formulario {
    margin-left: 0px;
    margin-top: 2rem; } }
