$titulo__fontsize: 3.5rem;
$titulo__color: #070300;
$titulo__fontfamily: "Playfair Display", serif;
$titulo__secundario: 2.5rem;
$subtitulo: 1.3rem;


$fontfamily-dosis: "Dosis", sans-serif;
/**COLORES**/
$color1: #0e0e0e;
$color2: #b29569;
$color3: #353535;
$color4: #CE703C;
$color-gris2: #5f5f5f;